<div class="spacer">
    <ul>
        {{#each articles}}
        <li>
            <a href="/article/details/{{article._id}}">{{article.title}}</a>
        </li>
        {{/each}}
    </ul>
</div>

{{!-- 8/30 added article to the hbs in place of this --}}