<section id="featured">
    <h2>Latests articles</h2>
    {{#each articles}}
        <article>
            <h3>{{article.title}}</h3>
            <p>
                {{content}}
            </p>
            <div class="controls">
                <a href="/article/{{article._id}}">Read more</a>
            </div>
        </article>
    {{/each}}
</section>

{{!-- 8/30 added article in place of this within the hbs --}}